
<form class="" action="/user/edit-profile" method="post">

 <p>Name:</p> <input type="text" name="name" value="<%= user.username %>"> <br><br>
 <p>Email:</p> <input type="text" name="email" value="<%= user.email %>"> <br><br>
  <input type="submit" name="" value="Save">
</form>
