<h2>Profile page </h2>


<p>hello</p><%= user.username %>

<br><br><%= user.email %>
<br><br>
<a href="/user/logout">logout</a>
<br><br>
<img src="<%= user.userimage %>">
<a href="/user/edit-profile">Edit</a>
