

<h2>User regstration</h2>

 <form action="/user/signup" method="post">
      <input type="username" name="username" value="" placeholder="name">
      <br><br>
      <input type="email" name="email" value="" placeholder="email">
      <br><br>
      <input type="password" name="userpassword" value="" placeholder="password">
      <br><br>

       <input type="submit" name="" value="submit">

    </form>
